<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current cars ({{cars.length}})</h4>
  <div class="card-block">
    <button class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add New Car
    </button>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="card" *ngIf="!isEditing">
            <h4 class="card-header">Add new car 
              <button type="button" class="btn btn-sm" data-dismiss="modal" id="btnClose"><i class="fa fa-times" aria-hidden="true"></i></button>
            </h4>
            
            <div class="card-block">
              
              <form class="form-inline" [formGroup]="addCarForm" (ngSubmit)="addCar()" style="text-align:center">
                <div class="form-group">
                    <input class="form-control" type="text" name="brand" formControlName="brand" placeholder="brand" required>
                </div>
                <div class="form-group">
                      <input class="form-control" type="text" name="model" formControlName="model" placeholder="model"  required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="nDoors" formControlName="nDoors" placeholder="number of doors" step="any" min="0" required>
                </div>
                <br/><br/>
                <div class="form-group">
                      <input class="form-control" type="text" name="consumption" formControlName="consumption" placeholder="consumption (ex: 600L/KM)"  required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="airConditioner" formControlName="airConditioner" placeholder="air conditioner?[true/false]" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="nPassengers" formControlName="nPassengers" placeholder="number of passengers " step="any" min="0" required>
                </div>
                <br/><br/>
                <button class="btn btn-primary" type="submit" [disabled]="!addCarForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
                
              </form>
            
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Consumption</th>
          <th id="nP">Number of passengers</th>
          <th>Number of doors</th>
          <th>Air conditioner </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cars.length === 0">
        <tr>
          <td colspan="7">There are no cars in the DB. Add a new car below.</td>
        </tr>  
      </tbody>
      <tbody >
        <tr *ngFor="let car of cars">
          <td id="brand">{{car.brand}}</td>
          <td>{{car.model}}</td>
          <td id="cons">{{car.consumption}}</td>
          <td id ="nD">{{car.nDoors}}</td>
          <td id="nP">{{car.nPassengers}}</td>
          <td id="airC">{{car.airConditioner}}</td>
          <td id="actions">
            <button class="btn btn-sm btn-warning" (click)="enableEditing(car)" data-toggle="modal" data-target="#modalEdit"><i class="fa fa-pencil"></i> </button> <button class="btn btn-sm btn-danger" (click)="deleteCar(car)"><i class="fa fa-trash"></i> </button>
          </td>
        </tr>  
      </tbody>
      
    </table>
  </div>
</div>





<div class="modal fade " id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
        
        <div class="card" *ngIf="isEditing">
  <h4 class="card-header">Edit a car
   <button type="button" class="btn btn-sm" data-dismiss="modal" id="btnCloseEdit"><i class="fa fa-times" aria-hidden="true"></i></button>

  </h4>
  <div class="card-block">
    <form class="form-inline" #form="ngForm" (ngSubmit)="editCar(car)"  *ngIf="isEditing">
      <div class="container">
          <div class="row">
              <div class="form-group col-20">
                  <label for="brand" >Brand:</label>
                  <input class="form-control" type="text" name="brand" [(ngModel)]="car.brand" placeholder="brand" id="brand" required>
              </div>
          </div>
          <br/>
          <div class="row" >  
              <div class="form-group col-20">
                <label for="model" >Model:</label>
                <input class="form-control" type="text" name="model" [(ngModel)]="car.model" placeholder="model"  id="model" required>
              </div>
          </div> 
          <br/>
          <div class="row" >   
              <div class="form-group col-20">
                  <label for="c">Consumption :</label>
                  <input class="form-control" type="text" id="c" name="consumption" [(ngModel)]="car.consumption" placeholder="consumption (ex: 600L/KM)" required>
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="form-group col-20">
                <label for="nD">Number of doors:</label>
                <input class="form-control" type="number" id="nD" name="nDoors" [(ngModel)]="car.nDoors" placeholder="number of doors" step="any" min="0" style="width:250px" required>
              </div>
          </div> 
          <br/>   
          <div class="row" > 
              <div class="form-group col-20">
                <label for="a">Air conditioner   :</label>
                <input class="form-control" id ="a" type="text" name="airConditioner" [(ngModel)]="car.airConditioner" placeholder="air conditioner?[true/false]" style="width:254px"  required>
              </div>
          </div> 
          <br/>
          <div class="row" >   
              <div class="form-group col-20">
                <label for="nP" >Number of passengers  :</label>
                <input class="form-control" type="number" id="nP" name="nPassengers" [(ngModel)]="car.nPassengers" placeholder="number of passengers" step="any" min="0" style="width: 200px" required>
              </div>
          </div>
          <br/>
          <div class="row " style ="position : relative; left : 400px;">
               
               <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
               <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
              
          </div>
              </div>
          </form>
        
           
         </div>
       </div>
    </div>   
  </div>
</div>