.table td, .table th {
   text-align: center;
    
}

/*#actions{
   
   width: 90px;
   
}

#nP{
    width: 80px;
}

#nD{
    width: 140px;
}

#airC{
    width: 40px;
}

#cons {
    width : 100px;
}

#brand {
    width : 22%;
}*/

#btnClose{
    position : relative;
    left : 18.5cm;

}

#btnCloseEdit{
    position : relative;
    left : 11.5cm;

}