<app-toast [message]="toast.message"></app-toast>

<div class="card">
 <h4 class="card-header">Sign in to RentCarMa</h4>
  <div class="card-block">
    <fieldset >
      <br/><br/>
      <form [formGroup]="loginForm" (ngSubmit)="login()" style ="width : 90%; margin-left : 18px; ">
        <div class="input-group" [ngClass]="setClassEmail()">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
        </div>
        <div class="input-group" [ngClass]="setClassPassword()">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
        </div>
        <br/>
        <div class="autre">
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button>
           New?
        <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
           Create an account 
        </a>
        </div>
      </form>
    </fieldset>
  </div>
</div>